
<div class="row mt-3">
    <!-- <div class="col-2">
        <button class="btn btn-primary btn-block" (click)="searchArtist(termino.value)" >Search</button>   
    </div> -->
    <div class="col-10">
        <input #termino   (keyup)="searchArtist(termino.value)" type="text"class="form-control" placeholder="Buscar artista..">
    </div> 
</div>

<div class="card-columns mt-2"  >
    <div *ngFor="let artistseek of newArtistSeek"  class="card">
      <img [src]="artistseek.images[0].url" class="card-img-top" alt="...">
      <div class="card-body">
        
        <h5 class="card-title">
         
          {{ artistseek.name }}
          
        </h5>
        
      </div>
    </div>
 </div>